<!DOCTYPE html>
<html lang="zh-TW">
	<title>福智青年社 福青週-有機農夫市集 預購表單</title>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="theme-color" content="#157878">
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
		<link rel="stylesheet" href="./img/BWY.css">
	</head>
	<body>
		<header class="page-header" role="banner">
			<div id="logo"><img class="logo" src="https://raw.githubusercontent.com/timjeffrey10/NYCU-BWY-2021/main/img/logo.png"></div>
			<h1 class="project-name">福智青年社 福青週-有機農夫市集 預購表單</h1>
			<a href="https://www.facebook.com/nctubwy" class="btn">拜訪交大福智青年社</a>
		</header>
		<div class="btn2">
			<a href="#" ><div>大專營</div><div>報名點我</div></a>
		</div>
		
		<div class="content">
			<H2>福智青年社~~福青週系列活動</H2>
			<div class="tr-flex">
				<div class="td-flex2 main">
					<div class="info">
						<p>母親節快到了，覺得每年都只送卡片已經了無新意了嗎?</p>
						<p>別擔心，今年福青社除了卡片傳恩情，幫你免費寄母親節卡片回家以外，還推出了首次的有機農夫週!</p>
						<p>提供數十種美味健康的有機商品，讓你帶回家跟親愛的把拔馬麻分享! 預購表單還不趕快揍下去!!</p>
					</div>
				</div>
				<div class="td-flex2 poster"><img src="https://raw.githubusercontent.com/timjeffrey10/NYCU-BWY-2021/main/img/poster.jpg" class="poster">
				</div>
				<div class="td-flex2">
					<h3>卡片傳恩情無人攤位</h3>
					<div class="info">
						<p>日期: 4/27~5/04 </p>
						<p>地點: 女二廣場旁(鼎天的穿堂)</p>
						<p>活動方式: 按照桌上貼的SOP，寫下你對爸媽的感恩，並將卡片投入我們可愛的信箱! 也可以跟大家分享你對爸媽的感恩喔! (現場皆有提供卡片、文具)</p>
					</div>
					<h3>有機農夫週</h3>
					<div class="info">
						<p>預購日期: 4/18~5/02</p>
						<p>取貨日期: 5/10~5/11</p>
						<p>取貨地點: 女二廣場旁(鼎天的穿堂)</p>
						<p>活動方式: 在現場會有很多健康有機的商品供大家選購，提前在表單預購可獲得更優惠的價格</p>	
					</div>
					<h3>活動三</h3>
					<div class="info">
						<p>TBA</p>
					</div>
				</div>
			</div>
			<H2>販售品項資訊</H2>
			<p class="neon-effect">▼ 小編推薦</p>
			<div class="tr-flex">
				<div class="td-flex suggest">
					<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6110004410_3gvrm_tw.jpg class='product'></div>
					<div class='inside_name'><span>紅茶威化餅<BR>(50克)</span></div>
					<div class='inside_price'><S>現場價 $55</S><BR>$50</div>
				</div>
				<div class="td-flex suggest">
					<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61100116_t7qul_tw.jpg class='product'></div>
					<div class='inside_name'><span>乳酥餅<BR>(12入/盒)</span></div>
					<div class='inside_price'><S>現場價 $100</S><BR>$89</div>
				</div>
				<div class="td-flex suggest">
					<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/61170000-S.jpg class='product'></div>
					<div class='inside_name'><span>原味乳酪條<BR>(90克)</span></div>
					<div class='inside_price'><S>現場價 $190</S><BR>$175</div>
				</div>
				<div class="td-flex suggest">
					<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/61170001-S.jpg class='product'></div>
					<div class='inside_name'><span>辣味乳酪條<BR>(90克)</span></div>
					<div class='inside_price'><S>現場價 $190</S><BR>$175</div>
				</div>
			</div>
			<HR>
			<details>
				<summary>休閒零食</summary>
				<div class="tr-flex">
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/61100000-S.jpg class='product'></div>
						<div class='inside_name'><span>鳳梨酥<BR>(8入/盒)</span></div>
						<div class='inside_price'><S>現場價 $95</S><BR>$85</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6110101211_1copb_tw.jpg class='product'></div>
						<div class='inside_name'><span>桑椹酥<BR>(5入/盒)</span></div>
						<div class='inside_price'><S>現場價 $125</S><BR>$115</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6110601510_53arv_tw.jpg class='product'></div>
						<div class='inside_name'><span>檸檬果汁蒟蒻<BR>(12入/包)</span></div>
						<div class='inside_price'><S>現場價 $85</S><BR>$79</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6110601610_3l2kz_tw.jpg class='product'></div>
						<div class='inside_name'><span>桑葚果汁蒟蒻<BR>(12入/包)</span></div>
						<div class='inside_price'><S>現場價 $85</S><BR>$79</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/61110057-S.jpg class='product'></div>
						<div class='inside_name'><span>杏仁巧克力<BR>(90克)</span></div>
						<div class='inside_price'><S>現場價 $90</S><BR>$80</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61120029_3sk3w_tw.jpg class='product'></div>
						<div class='inside_name'><span>文旦吸凍<BR>(3入)</span></div>
						<div class='inside_price'><S>現場價 $100</S><BR>$90</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6110601410_0h6db_tw.jpg class='product'></div>
						<div class='inside_name'><span>蜂蜜檸檬吸凍<BR>(3入)</span></div>
						<div class='inside_price'><S>現場價 $100</S><BR>$90</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61100068_lpq1j_tw.jpg class='product'></div>
						<div class='inside_name'><span>巧克力夾心酥<BR>(400克)</span></div>
						<div class='inside_price'><S>現場價 $150</S><BR>$135</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61100073_kpro1_tw.jpg class='product'></div>
						<div class='inside_name'><span>腰果鹹醬夾心酥<BR>(400克)</span></div>
						<div class='inside_price'><S>現場價 $165</S><BR>$150</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6110701210_acki0_tw.jpg  class='product'></div>
						<div class='inside_name'><span>韓國原味海苔酥<BR>(50克)</span></div>
						<div class='inside_price'><S>現場價 $105</S><BR>$95</div>
					</div>
				</div>
			</details><HR>
			<details>
				<summary>飲料</summary>
				<div class="tr-flex">
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61220000_17gfq_tw.jpg class='product'></div>
						<div class='inside_name'><span>菊花茶<BR>(360ml)</span></div>
						<div class='inside_price'><S>現場價 $30</S><BR>$25</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6120303010_t4tgl_tw.jpg class='product'></div>
						<div class='inside_name'><span>菊花茶<BR>(1000ml)</span></div>
						<div class='inside_price'><S>現場價 $70</S><BR>$65</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61220001_41z6o_tw.jpg class='product'></div>
						<div class='inside_name'><span>人蔘蜜棗茶<BR>(360ml)</span></div>
						<div class='inside_price'><S>現場價 $30</S><BR>$25</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://github.com/timjeffrey10/NYCU-BWY-Leezen-preorder/blob/main/img/61200013-S.jpg?raw=true class='product'></div>
						<div class='inside_name'><span>烏梅汁<BR>(360ml)</span></div>
						<div class='inside_price'><S>現場價 $40</S><BR>$35</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61200014_55r5v_tw.jpg class='product'></div>
						<div class='inside_name'><span>烏梅汁<BR>(1000ml)</span></div>
						<div class='inside_price'><S>現場價 $90</S><BR>$80</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6120402610_8wm3j_tw.jpg class='product'></div>
						<div class='inside_name'><span>有機無糖豆乳<BR>(360ml)</span></div>
						<div class='inside_price'><S>現場價 $45</S><BR>$39</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://github.com/timjeffrey10/NYCU-BWY-Leezen-preorder/blob/main/img/61270007-S.jpg?raw=true class='product'></div>
						<div class='inside_name'><span>黑麥汁<BR>(330ml*3罐)</span></div>
						<div class='inside_price'><S>現場價 $125</S><BR>$115</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61260038_btfgj_tw.jpg class='product'></div>
						<div class='inside_name'><span>有機抹茶拿鐵<BR>(250克)</span></div>
						<div class='inside_price'><S>現場價 $330</S><BR>$300</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61210037_2pq14_tw.jpg class='product'></div>
						<div class='inside_name'><span>有機黑豆漿<BR>(450ml)</span></div>
						<div class='inside_price'><S>現場價 $40</S><BR>$38</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61210056_nkw2v_tw.jpg class='product'></div>
						<div class='inside_name'><span>有機豆奶<BR>(450ml)</span></div>
						<div class='inside_price'><S>現場價 $40</S><BR>$35</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6107000610_3yi8v_tw.jpg class='product'></div>
						<div class='inside_name'><span>仙草蜜<BR>(330克*3罐)</span></div>
						<div class='inside_price'><S>現場價 $70</S><BR>$65</div>
					</div>
				</div>
			</details><HR>
			<details>
				<summary>其他</summary>
				<div class="tr-flex">
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61510004_jnvyy_tw.jpg class='product'></div>
						<div class='inside_name'><span>野菜糙米粥<BR>(35克*10包)</span></div>
						<div class='inside_price'><S>現場價 $165</S><BR>$150</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6121800610_ehy7i_tw.jpg class='product'></div>
						<div class='inside_name'><span>海帶芽糙米粥<BR>(30克)</span></div>
						<div class='inside_price'><S>現場價 $40</S><BR>$38</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61500008_vs8v5_tw.jpg class='product'></div>
						<div class='inside_name'><span>炸醬乾拌麵<BR>(90克*6包)</span></div>
						<div class='inside_price'><S>現場價 $175</S><BR>$160</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/61500005-S.jpg class='product'></div>
						<div class='inside_name'><span>味噌沖泡麵<BR>(95克*6包)</span></div>
						<div class='inside_price'><S>現場價 $175</S><BR>$160</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61500014_jrj3c_tw.jpg class='product'></div>
						<div class='inside_name'><span>酸辣沖泡麵<BR>(105克*6包)</span></div>
						<div class='inside_price'><S>現場價 $190</S><BR>$175</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/61500012-S.jpg class='product'></div>
						<div class='inside_name'><span>麻油當歸沖泡麵<BR>(100克*6包)</span></div>
						<div class='inside_price'><S>現場價 $185</S><BR>$170</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61510005_iny8y_tw.jpg class='product'></div>
						<div class='inside_name'><span>有機紅薏仁綠豆湯<BR>(320克*3罐)</span></div>
						<div class='inside_price'><S>現場價 $115</S><BR>$105</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61510007_jovc2_tw.jpg class='product'></div>
						<div class='inside_name'><span>有機紫米八寶粥<BR>(350克*3罐)</span></div>
						<div class='inside_price'><S>現場價 $115</S><BR>$105</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_61510011_utslr_tw.jpg class='product'></div>
						<div class='inside_name'><span>花生仁湯<BR>(340克*3罐)</span></div>
						<div class='inside_price'><S>現場價 $125</S><BR>$115</div>
					</div>
					<div class="td-flex">
						<div class='inside_img'><img src=https://www.leezen.com.tw/uploads/product/product_spec1photo_6107000510_dshaw_tw.jpg class='product'></div>
						<div class='inside_name'><span>仙草凍<BR>(340克*3罐)</span></div>
						<div class='inside_price'><S>現場價 $105</S><BR>$95</div>
					</div>
				</div>
			</details>
			<H2>繳費資訊</H2>
			<div style="width:100%">
				<ul>
					<li>現場繳費：可在04/27、05/04兩天到女二舍餐廳前的「母親節卡片傳恩情」攤位</li>
					<li>轉帳或匯款：台新銀行 <b>(812)2888-10-1194906-7</b></li>
					<li>Line Pay：轉帳代碼 <b>20740600042</b> (<a href="https://lure.tw/?c=Articles&act=Detail" target="_blank">使用轉帳代碼說明</a>)</li>
					<li>街口支付：帳號 <b>904614588</b></li>
					<li>台灣 Pay / 銀行掃碼支付(<a href="https://www.taiwanpay.com.tw/content/info/bank_c.aspx" target="_blank">支援銀行列表</a>)<BR>
					<img class="pay" src="https://github.com/timjeffrey10/NYCU-BWY-2021/blob/main/img/Pay.png?raw=true"></li>
				</ul>
			</div>
			<H2>預購表單</H2>
			<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScWl_yP-1f3QtD2MXUJqIFWEK65lKEGmZLHh4pRJ80zWw9K5w/viewform?usp=pp_url&entry.288848142=%E5%B0%8D%E8%BE%9B%E8%8B%A6%E5%B7%A5%E4%BD%9C%E4%BA%BA%E5%93%A1%E7%9A%84%E6%84%9F%E8%AC%9D%F0%9F%92%8C*N%0A%E5%B8%8C%E6%9C%9B%E7%92%B0%E5%A2%83%E8%AE%8A%E5%BE%97%E6%9B%B4%E7%BE%8E%E5%A5%BD%E7%9A%84%F0%9F%92%9D*N&embedded=true" width=100% height="600" frameborder="0" marginheight="0" marginwidth="0">載入中…</iframe>
		</div>
		<p> </P>
		<footer>若有任何問題，歡迎<a href="https://www.facebook.com/nctubwy" target="_blank">私訊聯絡我們</a></footer>
	</body>
</html>
